{% if paginator.total_pages > 1 %}
<nav class="pagination">
  <ul>
    {% comment %} Load More Button {% endcomment %}
    {% if paginator.page < paginator.total_pages %}
      <li>
        <button id="load-more" data-next-page="{{ paginator.next_page }}" class="load-more-button">
          {{ site.data.ui-text[site.locale].pagination_load_more | default: "Load More" }}
        </button>
      </li>
    {% else %}
      <li>
        <button class="load-more-button disabled" aria-disabled="true">
          {{ site.data.ui-text[site.locale].pagination_no_more | default: "No More Items" }}
        </button>
      </li>
    {% endif %}
  </ul>
</nav>

<script>
  document.getElementById('load-more').addEventListener('click', function() {
    var nextPage = this.getAttribute('data-next-page');
    if (nextPage) {
      // Fetch the next page of content (you'll need to implement this part)
      fetch('{{ site.paginate_path | replace: ':num', '' }}' + nextPage)
        .then(response => response.text())
        .then(data => {
          // Append the new content to your container
          document.querySelector('#content-container').insertAdjacentHTML('beforeend', data);
          
          // Update the next page number
          var newNextPage = parseInt(nextPage) + 1;
          this.setAttribute('data-next-page', newNextPage);
          
          // Optionally, disable the button if there are no more pages
          if (newNextPage > {{ paginator.total_pages }}) {
            this.classList.add('disabled');
            this.setAttribute('aria-disabled', 'true');
            this.innerText = '{{ site.data.ui-text[site.locale].pagination_no_more | default: "No More Items" }}';
          }
        })
        .catch(error => {
          console.error('Error loading more content:', error);
        });
    }
  });
</script>
{% endif %}


