---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@media (min-width: 80em) {
  .archive {
  margin-left:300px;
  margin-right:300px;
  background-color: #2c323e;
  padding-top: 1em;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 2em;
  float:right;
 }
  .page {
  border-left-width: 1px;
  border-left-style: groove;  
  border-right-width: 1px;  
  border-right-style: groove;  
  border-color: #4f596f;
  }
  
  .html {
  font-size:17px
 }
}


html {
  font-size: 14px; // change to whatever

  @include breakpoint($small) {
    font-size: 12px; // change to whatever
  }

  @include breakpoint($medium) {
    font-size: 14px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 17px; // change to whatever
  }
}

