/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color: url(/assets/images/Diner/Resized1001000011.jpg) !default;
$text-color: #eaeaea !default;
$primary-color: #5870a0 !default;
$border-color: #313030 !default;
$code-background-color: #5870a0 !default;
$code-background-color-dark: #5870a0 !default;
$form-background-color: #5870a0 !default;
$footer-background-color: #5870a0 !default;
$link-color: #5870a0 !default;
$link-color-hover: #5870a0 !default;
$link-color-visited: #5870a0 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: #5870a0 !default;
$navicon-link-color-hover: #5870a0 !default;
.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
