---
layout: archive
---

{% include toc %}
<div class="sidebar sticky" style="width:100px;left:82" id="mySidebar">
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
<div style="margin-left:25%">
</div>

{{ content }}

<link rel="icon" href="/favicon.ico" type="image/x-icon" />

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].Posts | default: "Posts" }}</h3>
<meta name="Urban exploration in NYC" content="Urban exploration in NYC">



{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}


{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>
{% include paginator.html %}


  

