.page__date {
    font-size: 0.7em;
 }


.page__share-title {
    font-size: 1em;
 }

.page__meta {
  margin-top: -0.6em;
  padding-left: 0.2em;
 }

div.polaroid {
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  border-radius: 8px;
  cursor: zoom-in;
  width: 100%
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

