.page__date {
    font-size: 0.7em;
 }

.page__share-title {
    font-size: 1em;
 }

div.polaroid {
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  border-radius: 8px;
  width: 100%
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.mfp-title {
  font-size: 16px;
}
@media (min-width: 80em) {
 p {
  font-size:17px
 }
}

@media (min-width: 85em) {
 p {
  font-size:16px
 }
}
@media (min-width: 90em) {
 p {
  font-size:18px
 }
}
